@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2" >
        Grassroots
        <br />
        <img src="~/images/fist.jpg" width="500" />
    </h1>
    
    <p>An app for political organizing</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
